

.centered {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoImage {
    width: 350px;
    margin: 10px;
}

.upperCaseText {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.lightText {
    color: $mainColor;
}

h1, h2, h3 {
    text-align: center;
}

.react-spinner {
    position: relative;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 50%;
}

.react-spinner_bar {
    -webkit-animation: react-spinner_spin 1.2s linear infinite;
    -moz-animation: react-spinner_spin 1.2s linear infinite;
    animation: react-spinner_spin 1.2s linear infinite;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: 20%;
    height: 7.8%;
    top: -3.9%;
    left: -10%;
}

@keyframes react-spinner_spin {
    0% { opacity: 1; }
    100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
    0% { opacity: 1; }
    100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
    0% { opacity: 1; }
    100% { opacity: 0.15; }
}

[title="previous page"],
[title="last page"],
[title="first page"] {
    visibility: hidden;
}
