.characters-container {
    display: flex;
    flex-direction: column;
    .character-list {
        padding: 5px;
    }
    .character-row {
        display: flex;
        justify-content: center;
        padding: 7px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: $secondaryColor;
        }
    }

    input {
        background-color: transparent;
        border-bottom: 1px solid yellow;
        border-top: none;
        border-right: none;
        border-left: none;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 12px;
        &:focus,
        &:active,
        &:visited {
            outline: none;
        }
        &:focus,
        &:active,
        &:visited {
            outline: none;
        }
        &::placeholder {
            text-transform: uppercase;
            color: $mainColor;
            font-size: 12px;
            text-align: center;
            letter-spacing: 2px;
        }
    }
    .characters-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    button {
        background: transparent;
        color: $mainColor;
        margin: 0 auto;
        &:hover {
            color: $secondaryColor;
            border-color: $secondaryColor;
        }
        &:focus,
        &:active,
        &:visited {
            outline: none;
        }
        &:disabled {
            cursor: not-allowed;
        }
    }
    .pagination {
        display: flex;
        justify-content: space-between;
    }
}
