$backgroundUrl: 'https://www.lego.com/r/www/r/catalogs/-/media/catalogs/activities/star%20wars/2016/backgrounds/lsw_activities_backgrounds_starfield_primary.jpg?l.r=-1377126531';
$mainColor: white;
$hoverColor: unquote('#ffff7fc7');